In [4]:
import pyodbc 
import json
# ipconfig /all
with open("json.json" ,"r" , encoding='utf-8-sig') as creds:
    cred = json.load(creds)
server = cred['server']
database = cred['database'] 
username = cred['username']
password = cred['password'] 

# connection = pyodbc.connect('DRIVER={SQL Server Native Client 11.0};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
with pyodbc.connect('DRIVER={SQL Server Native Client 11.0};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password) as connection :
    cursor = connection.cursor()
    cursor.execute('select top(3)* from main_data')
    rows = cursor.fetchall()
    for row in rows:
        print (row)

('Art & Sculpture', 34, 14935.0, -594.0, -1609.0, 12732.0, -2203.0)
('Basket', 13, 3744.0, -316.79998779296875, 0.0, 3427.199951171875, -316.79998779296875)
('Basket', 12, 3825.0, -201.60000610351562, -288.0, 3335.39990234375, -489.6000061035156)